/* settings for desktop */
@media only screen and (min-width: 860px) {
  .full-page {
    padding-left: 40px;
    padding-right: 40px;
  }

  .potrebujete-poradit-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: var(--font-size-base);
    line-height: 140%;
    color: var(--color-darkslategray-100);
    height: 30px;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-right: 550px;
  }

  .logo img {
    max-height: 80px;
  }

  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  nav li {
    margin-right: 20px;
  }

  nav li:last-child {
    margin-right: 0;
  }

  nav a {
    text-decoration: none;
    color: #9A9BA3;
    padding: 5px 10px;
  }

  .dots-background {
    background-image: url('./public/01.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
    flex: 1;
  }

  .oval-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 150px);
    margin-top: -200px;
  }

  .oval-button {
    width: 240px;
    height: 70px;
    /* Equal width and height for round shape */
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 40px;
    /* Make the button round */
    text-align: center;
    margin: 0 20px;
    /* Add spacing between buttons */
  }

  .oval-button:nth-child(1) img {
    max-width: 100px;
    max-height: 100px;
    margin-right: 10px;
  }

  .oval-button:nth-child(2) img {
    max-width: 60px;
    max-height: 60px;
    margin-right: 10px;
  }

  .oval-button span {
    font-size: 18px;
    color: white;
  }

  .oval-button:nth-child(1) {
    background-color: var(--color-royalblue);
  }

  .oval-button:nth-child(2) {
    background-color: var(--color-palevioletred);
  }

  .nadacni-fond {
    background-image: url('./public/vod-foto2x22.png');
    background-size: auto 80%;
    background-position: right center;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
    position: relative;
    padding-left: 40px;
  }

  .nadacni-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    padding: 20px;
  }

  .nadacni-header {
    z-index: 2;
  }

  .play-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    padding-left: 80px;
  }

  .play-button-link {
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  .play-button {
    position: relative;
    width: 60px;
    height: 60px;
    background: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .play-button:focus {
    outline: none;
  }

  .circle {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 50%;
  }

  .triangle {
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-left: 20px solid #2E3E4D;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
  }

  .button-text {
    margin-left: 20px;
    font-size: 20px;
    color: #2E3E4D;
    white-space: nowrap;
    /* Prevent text from wrapping to next line */
    font-weight: bold;
  }

  .video-and-schuzka {
    display: flex;
    align-items: center;
  }

  .schuzka-box-content {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 180px;
    margin-left: auto;
  }

  .schuzka-box-content p {
    font-size: 16px;
    margin-bottom: 10px;
    color: var(--color-darkslategray-100);
    text-align: center;
    font-weight: bold;
  }

  .schuzka-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--color-palevioletred);
    color: white;
    text-decoration: none;
    border-radius: 40px;
    transition: background-color 0.3s ease;
  }

  .schuzka-button img {
    max-width: 20px;
    max-height: 20px;
    margin-right: 10px;
  }

  .schuzka-button p {
    font-weight: bold;
  }

  .schuzka-button span {
    font-size: 15px;
  }

  .Text-Konzultace {
    color: #454868;
    text-align: center;
    font-family: Jost;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 0%;
  }

  .blue-text {
    color: #5F67DC;
    font-weight: 700;
    text-align: center;
  }

  .contact-info {
    color: #2E3E4D;
    font-family: 'Jost', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 0px;
    margin-top: -80px;
    /* This changes top space */
    text-align: center;
  }

  .contact-description {
    color: #757575;
    text-align: center;
    font-family: Jost;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
  }

  .Konzultace-img {
    text-align: center;
  }

  .Konzultace-img img {
    vertical-align: middle;
    /* Vertically align the image within the line */
    /* Change size */
    width: 115px;
    margin-left: -50px;
    /* Adjust this value to move the image closer to the text */
    margin-right: 10px;
    /* Adjust this value if needed */
  }

  .Nejste-na-to-sami {
    margin-top: 500px; /* Adjust the value as needed to move the section down */
  }

  .Rectangle-Container {
    display: flex;
    justify-content: space-between; /* Space between rectangles */
    position: relative; /* Add relative positioning to contain the background rectangle */
    width: 800px; /* Adjust the width as needed */
    height: 400px; /* Adjust the height as needed */
    margin-bottom: 20px; /* Adjust the margin to control spacing */
  }

  .Rectangle {
    position: relative;
    width: 308px; /* Set the width of each rectangle */
    height: 350px; /* Increase the height to accommodate the image and text */
    margin: 10px; /* Adjust margin to create space between rectangles */
    flex-shrink: 0; /* Prevent rectangles from shrinking */
    border-radius: 40px;
    border: 1px solid #F2F2F2;
    background: #FFF;
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
    text-align: center; /* Center-align text horizontally */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* Style for individual rectangles */
  .Rectangle:nth-child(1) {
    background-color: #FFF;
    left: 450px;
    top: -530px;
  }

  .Rectangle:nth-child(2) {
    background-color: #FFF;
    left: 450px; /* Adjust the horizontal position */
    top: -600px;
  }

  .Rectangle:nth-child(3) {
    background-color: #FFF;
    left: -210px;
    top: -125px; /* Adjust the vertical position */
  }

  .Rectangle:nth-child(4) {
    background-color: #FFF;
    left: -210px; /* Adjust the horizontal position */
    top: -200px; /* Adjust the vertical position */
  }

    /* Style for the background rectangle */
  .Rectangle:nth-child(5) {
      flex-shrink: 0;
      width: 1047px;
      height: 619px;
      border-radius: 150px 0px 0px 0px; /* Rounded top left corner */
      background-color: #F4F9FF;
      left: -1050px; /* Adjust the horizontal position */
      top: -475px;
      z-index: -1; /* Set the z-index to send the rectangle to the back */
  }
  /* Style for images inside rectangles */
  .Rectangle img {
    max-width: 100%;
    max-height: 50%; /* Adjust the max-height for smaller images */
    display: block;
    margin: 0 auto; /* Center-align the image horizontally */
  }

  /* Style for text inside rectangles */
  .Rectangle p {
    width: 231px;
    color: #000;
    text-align: center;
    font-family: Jost;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;    margin: 10px; /* Adjust the margin to separate text from the image */
  }

  .Taky-jsme-si-tim-prosli {
    display: flex;
    justify-content: space-between; /* Space between the two content areas */
    align-items: flex-start; /* Align content at the top */
  }

  .Taky-jsme-si-tim-prosli-left {
    flex: 1; /* Allow the left content to grow and fill the space */
    padding-right: 20px; /* Add some spacing between the left and right content */
  }

  .prehrat-video {
      padding-top: 20px;
  }

  .prehrat-video-button {
      padding: 8px 30px;
      background-color: var(--color-royalblue);
      color: white;
      text-decoration: none;
      border-radius: 40px;
      transition: background-color 0.3s ease;
  }

  #video-container {
    width: 600px; /* Set the width of the video container */
    padding-top: 40px;
  }

  .vyberte-co-vas-zajima {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
  }

  .vyberte-co-vas-zajima-header {
    text-align: center;
    padding-bottom: 50px;
  }

  .co-me-tizi-box {
    margin-bottom: 50px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(95, 103, 220, 0.2);
    padding: 20px;
    width: 95%;
  }

  .co-me-tizi {
    display: flex;
  }

  .co-me-tizi-text {
    padding-left: 30px;
    flex: 1;
  }

  .co-me-tizi-text p {
    padding-bottom: 20px;
  }

  .vic-informaci-button {
    display: inline-block;
    padding: 10px 30px;
    color: var(--color-royalblue);
    text-decoration: none;
    border-radius: 40px;
    border: 2px solid var(--color-royalblue);
  }

  .co-me-tizi-img {
    flex-shrink: 0; /* Prevent the image from growing */
    padding-right: 100px;
    text-align: right; /* Align the image to the right within its container */
  }

  .co-me-tizi-img img {
    width: 320px; /* Set your desired width */
    height: auto; /* Maintain aspect ratio based on width */
  }

  .co-me-tizi-buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px; /* Add some top margin for separation */
    font-weight: bold;
  }

  .co-me-tizi-button {
    display: inline-block;
    padding: 10px 30px;
    color: var(--color-darkslategray-100);
    text-decoration: none;
    border-radius: 40px;
    /* border: 0.5px solid var(--color-darkslategray-100); */
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
  }

  .co-me-tizi-button:hover {
    background-color: var(--color-palevioletred); /* Change the background color on hover */
    color: white; /* Change text color on hover */
  }

  .co-me-ceka-box {
    margin-bottom: 50px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(95, 103, 220, 0.2);
    padding: 20px;
    width: 95%;
  }
  .co-me-ceka{
    display: flex;
  }

  .co-me-ceka-text {
    padding-left: 200px;
    flex: 1;
    order: 2;
  }

  .co-me-ceka-text p {
    padding-bottom: 20px;
  }

  .co-me-ceka-vic-informaci-button {
    display: inline-block;
    padding: 10px 30px;
    color: var(--color-royalblue);
    text-decoration: none;
    border-radius: 40px;
    border: 2px solid var(--color-royalblue);
  }

  .co-me-ceka-img {
    flex-shrink: 0; /* Prevent the image from growing */
    padding-right: 100px;
    text-align: right; /* Align the image to the right within its container */
  }

  .co-me-ceka-img img {
    width: 320px; /* Set your desired width */
    height: auto; /* Maintain aspect ratio based on width */
  }

  .co-me-ceka-buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px; /* Add some top margin for separation */
    font-weight: bold;
  }

  .co-me-ceka-button {
    display: inline-block;
    padding: 10px 30px;
    color: var(--color-darkslategray-100);
    text-decoration: none;
    border-radius: 40px;
    /* border: 0.5px solid var(--color-darkslategray-100); */
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
  }

  .co-me-ceka-button:hover {
    background-color: var(--color-palevioletred); /* Change the background color on hover */
    color: white; /* Change text color on hover */
  }

  .jak-zit-dal-box {
    margin-bottom: 50px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(95, 103, 220, 0.2);
    padding: 20px;
    width: 95%;
  }
  .jak-zit-dal{
    display: flex;
  }

  .jak-zit-dal-text {
    padding-left: 30px;
    flex: 1;
  }

  .jak-zit-dal-text p {
    padding-bottom: 20px;
  }

  .jak-zit-dal-vic-informaci-button {
    display: inline-block;
    padding: 10px 30px;
    color: var(--color-royalblue);
    text-decoration: none;
    border-radius: 40px;
    border: 2px solid var(--color-royalblue);
  }

  .jak-zit-dal-img {
    flex-shrink: 0; /* Prevent the image from growing */
    padding-right: 100px;
    text-align: right; /* Align the image to the right within its container */
  }

  .jak-zit-dal-img img {
    width: 320px; /* Set your desired width */
    height: auto; /* Maintain aspect ratio based on width */
  }

  .jak-zit-dal-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px; /* Add some top margin for separation */
    font-weight: bold;
  }

  .jak-zit-dal-button {
    display: inline-block;
    padding: 10px 30px;
    color: var(--color-darkslategray-100);
    text-decoration: none;
    border-radius: 40px;
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
  }

  .jak-zit-dal-button:hover {
    background-color: var(--color-palevioletred); /* Change the background color on hover */
    color: white; /* Change text color on hover */
  }


  .o-nas-box {
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
  }

  .o-nas{
    display: flex;
  }

  .o-nas-text {
    padding-left: 5%;
    flex: 1;
    order: 2;
    margin-bottom: 40px;
  }

  .nas-pribeh-button {
    margin-top: 20px;
    display: inline-block;
    padding: 10px 30px;
    background-color: var(--color-royalblue);
    color: white;
    text-decoration: none;
    border-radius: 40px;
  }

  .o-nas-podpis-img img {
    flex-shrink: 0; /* Prevent the image from growing */
    width: 350px;
    padding-left: 20%;
    max-width: 100%;
  }

  .o-nas-abelovi-img {
    flex-shrink: 0; /* Prevent the image from growing */
    padding-left: 150px;
    text-align: right; /* Align the image to the right within its container */
  }

  .o-nas-abelovi-img img {
    width: 400px; /* Set your desired width */
    height: auto; /* Maintain aspect ratio based on width */
  }


  /* Center the Nejcastejsi-dotazy-box both horizontally and vertically */
  .Nejcastejsi-dotazy-box {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    background-color: #F4F9FF;
    border-radius: 0px 0px 150px 0px;
    overflow: hidden;
    padding-top: 60px;
    padding-bottom: 100px;
    flex-shrink: 0;
  }

  .text {
    color: rgba(46, 62, 77, 0.80);
    flex-shrink: 0;
    margin-right: 30px;
    font-family: Jost;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 33.6px */
  }
  /* Center the text within its container */
  .Nejcastejsi-dotazy-header-text {
    text-align: center;
  }

  /* Display the image to the right of the text */
  .Nejcastejsi-dotazy-stripes-with-text {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  /* Ensure the image doesn't exceed its container width */
  .Nejcastejsi-dotazy-img img {
    margin-top: -50px;
    width: 130px;
    height: auto;
  }

  .h_line {
    width: 1042px;
    height: 1px;
    background-color: #E1E1E1;
  }

  .Folded-text {
    display: none;
  }

  /* Align items vertically within the flex container */
  .folded-text-container {
    display: flex;
    align-items: center; /* Center items vertically */
  }

/* Make the circle smaller */
.toggle-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px; /* Decrease the font size to make it smaller */
  color: #5F67DC;
  width: 20px; /* Decrease the width and height to make it smaller */
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  border: 2px solid #5F67DC;
  transition: border-color 0.3s;
  }

  .inline-text-Nejcastejsi {
    color: rgba(46, 62, 77, 0.80);
    font-family: Jost;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 33.6px */
  }
  .Folded-Nejcastejsi-dotazy{
    border-radius: 48px;
    background: #FFF;
    box-shadow: 0px 10px 50px 0px rgba(95, 103, 220, 0.10);
    padding: 40px;
  }

  .Zobrazit-vice-button-container {
    display: flex;
    justify-content: center; /* Center the button horizontally within the container */
    margin-top: 20px; /* Adjust the margin as needed */
  }

  .Zobrazit-vice-button {
    display: inline-block;
    padding: 10px 30px;
    color: var(--color-royalblue);
    text-decoration: none;
    border-radius: 40px;
    border: 2px solid var(--color-royalblue);
  }

  .pomahejte-s-nami h2 {
    text-align: center; /* Center-align the text within the div */
  }

  .prispevkovy-formular-container {
    background-color: white;
    border-radius: 60px;
    box-shadow: 0 0 10px rgba(95, 103, 220, 0.2);
    padding: 20px;
    display: flex;
    flex-direction: row; /* Arrange items horizontally */
    justify-content: space-between; /* Separate columns */
    align-items: center;
    text-align: center;
    width: 95%;
  }

  .prispevkovy-formular-container-text {
    flex: 1; /* Take up one-half of the available width */
    padding-right: 20px; /* Add some spacing between columns */
  }

  .frekvence-button-group input[type="radio"] {
    display: none;
}

  .frekvence-button-group label {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 120px;
      padding: 10px 20px;
      background-color: #DFE1F8;
      color: #333;
      cursor: pointer;
      border-radius: 20px;
      margin-right: 10px;
  }

  /* Style the label when the radio button is checked */
  .frekvence-button-group input[type="radio"]:checked + label {
      background-color: #5f67dc;
      color: #fff;
      font-weight: bold;
  }

  /* Group the buttons with a shared background */
  .frekvence-button-group {
      display: inline-block;
      background-color: #DFE1F8;
      border-radius: 20px;
      overflow: hidden;
  }

  /* Style the labels within the button group */
  .frekvence-button-group label {
      margin: 0;
      border: none;
      float: left;
  }

  /* Remove default radio button styles */
  .amount-button-group input[type="radio"] {
    display: none;
  }

  .amount-button-group {
    margin-top: 20px;
  }

  /* Style the label to look like square buttons */
  .amount-button-group label {
      display: inline-block;
      padding: 10px;
      background-color: #fff;
      border: 2px solid #ccc;
      border-radius: 20px;
      margin-right: 10px;
      cursor: pointer;
      color: #333;
      text-align: center;
      width: 65px; /* Adjust the width to change the size of the square border */
      height: 65px; /* Adjust the height to change the size of the square border */
      line-height: 65px; /* Center the text vertically within the square */
  }

  /* Style the label when the radio button is checked */
  .amount-button-group input[type="radio"]:checked + label {
      border-color: #5f67dc;
      color: #5f67dc;
      font-weight: bold;
  }


  .amount-button-group label {
      margin: 10px; /* Adjust the spacing between the buttons */
  }

  .line-container {
    width: 60%;
    text-align: center;
    margin-top: 30px;
    padding-left: 20%;
  }

  .line {
    border-top: 1px solid #DADAE1; /* Change the line color to #DADAE1 */
    position: relative;
  }

  .line-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: white;
      padding: 0 10px;
      color: #333; /* Change the text color to contrast with the background */
  }
  .jina-castka-input-container {
    width: 50%;
    height: 40px;
    margin-top: 50px;
    display: inline-block;
    background-color: #F3F4F5;
    border-radius: 20px;
    padding: 5px 10px;
  }


  #amountInput {
      border: none;
      background: none;
      outline: none;
      font-size: 16px;
      width: 100%;
      padding: 0;
      text-align: center;
      line-height: 40px;
  }
  #amountInput::placeholder {
    text-align: center; /* Center the text horizontally within the input field */
    line-height: normal; /* Reset the line-height to normal */
  }

  .prispet-button {
    margin-top: 30px;
    display: inline-block;
    padding: 10px 30px;
    background-color: var(--color-royalblue);
    color: white;
    text-decoration: none;
    border-radius: 40px;
    font-weight: bold;
    width: 20%;
  }

  .pomahejte-s-nami-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .prispevkovy-formular-container-img {
    flex: 1; /* Take up one-half of the available width */
  }

  .prispevkovy-formular-container-img img{
    width: 100%;
    height: auto;
    overflow: hidden;
  }

  .odecet-daru {
    padding-left: 40px;
  }

  .potvrzeni {
    padding-top: 10px;
  }

  .vice-info-button {
    display: inline-block;
    padding: 10px 30px;
    color: var(--color-palevioletred);
    text-decoration: none;
    border-radius: 40px;
    border: 2px solid var(--color-palevioletred);
  }

  .podpora-tech-nejlepsich-section {
    margin-top: 30px;
    text-align: center;
    margin-bottom: 10px;
  }

  .podpora-tech-nejlepsich-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .podpora-tech-nejlepsich-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .background-rectangle {
    position: relative; /* Add this line */
    overflow: visible; /* Add this line to prevent images from being clipped */
    width: 65%;
    height: auto;
    background-color: #FFF2F8;
    border-radius: 100px 0 0 0;
    /* padding: 20px; */
    box-sizing: border-box;
  }

  .first-blockquote {

    text-align: left;
    /* padding: 20px; */
    padding-left: 100px;
  }

  .second-blockquote {
    width: 100%; /* Adjust based on your design */
    text-align: left;
    /* padding: 20px; */
    margin-right: 130px;
  }

  .quote-container {
    position: relative; /* Add this line */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .quote-container-left .quote-image,
  .quote-container-right .quote-image {
    position: absolute; /* Change to absolute positioning */
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
  }

  .quote-container-left .quote-image {
    left: -40px; /* Adjust this value as needed */
  }

  .quote-container-right .quote-image {
    right: -40px; /* Adjust this value as needed */
  }

  .quote-image {
    width: 150px; /* Adjust based on your design */
    height: 150px; /* Adjust based on your design */
    border-radius: 50%; /* To make the image round */
    background-size: cover;
    background-position: center;
  }

  footer {
    margin-top: 20px; /* Space between quote and attribution */
  }

  .spolupracujeme-s {
    padding-top: 40px;
    max-width: 80%;
    margin: 0 auto; /* Center the carousel */
    position: relative; /* Needed to position the controls absolutely within the container */
    overflow: hidden; /* This will hide the overflowed content */
  }
  
  .title-section {
    display: flex;
    align-items: center;
    white-space: nowrap;
    margin-bottom: 20px; /* Add some space between title and carousel */
  }
  
  .title {
    font-size: 18px;
    margin-right: 20px;
    font-weight: bolder;
    color: #2E3E4D;
  }
  
  .title-section::after {
    content: '';
    flex-grow: 1;
    height: 1px;
    background: #2E3E4D;
    margin-left: 20px;
  }
  
  .carousel {
    display: flex;
    transition: transform 0.3s ease-in-out;
    position: relative; /* Added for control positioning */
    align-items: center; /* added */
  }
  
  .carousel-item {
    flex: 1 0 25%;
    box-sizing: border-box;
    text-align: center;
    padding: 15px;
    /* new bellow */
    display: flex;
    justify-content: center;
    align-items: center; /* This centers the logo inside the item both horizontally and vertically */
  }
  
  .carousel-image {
    max-width: 100%;
    max-height: 100px;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  
    .carousel-control-prev,
  .carousel-control-next {
    position: absolute;
    transform: translateY(-50%);
    z-index: 1000;
    background-color: transparent; /* Make the background transparent */
    color: #333; /* Match the arrow color to your design */
    font-size: 24px; /* Adjust size as needed */
    text-decoration: none; /* Remove underline from text if using text as arrows */
    border: none; /* Remove borders */
    outline: none; /* Remove focus outline */
    top: 75%;
  }

.carousel-control-prev {
  left: 0;
}

.carousel-control-next {
  right: 0;
}

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    /* Remove the background-image if using text as arrows and adjust content */
    content: '>'; /* Use appropriate character for arrows */
    font-size: 30px; /* Adjust as needed */
  }

  .carousel-control-prev-icon {
    /* If you're using text, you can rotate the '>' character for the previous arrow */
    transform: rotate(180deg);
  }

  .client-testimonials {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center children horizontally */
    justify-content: center; /* Center children vertically if there's enough space */
    /*min-height: 100vh;  At least full viewport height */
    padding: 20px;
    /* text-align: center; */
  }

  .client-testimonials-div {
    display: flex;
    flex-direction: column;
    align-items: center; /* This should center children horizontally */
    justify-content: center; /* This should center children vertically */
    max-width: 800px;
    width: 100%;
    position: relative;
  }


  .testimonial-header h2 {
    color: #2E3E4D;
  }

  .testimonial-content {
    width: 566px;
    box-shadow: 0px 0px 10px 0px rgba(128, 128, 128, 0.5);
    border-radius: 35px;
    margin-top: 40px;
    display: flex; /* Add this line */
    justify-content: center; /* Add this line */
  }


  .testimonial-footer button {
    background-color: #5F67DC;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 35px;
    margin-top: 30px;
    font-family: Jost;
  }

  .testimonial-bubble {
    position: absolute; /* This will position your bubbles absolutely in relation to the closest positioned ancestor */
    width: 110px;
    height: 100px;
    border-radius: 50%;
    background-size: cover; /* This ensures your background image covers the entire bubble */
  }

  .bubble-top-left {
    top: 250px; /* Adjust as needed */
    right: 800px; /* Adjust as needed */
    background-image: url('./public/face5.png'); /* Replace with the path to your image */
  }

  .bubble-top-right {
    top: 200px; /* Adjust as needed */
    right: -50px; /* Adjust as needed */
    width: 77px;
    height: 70px;
    background-image: url('./public/face4.png'); /* Replace with the path to your image */
  }

  .bubble-bottom-left {
    bottom: 100px; /* Adjust as needed */
    left: -250px; /* Adjust as needed */
    background-image: url('./public/face3.png'); /* Replace with the path to your image */
  }

  .bubble-bottom-right {
    bottom: 50px; /* Adjust as needed */
    right: -10px; /* Adjust as needed */
    width: 77px;
    height: 70px;
    background-image: url('./public/face2.png'); /* Replace with the path to your image */
  }

  .bubble-middle-right {
    top: 350px; /* Adjust as needed */
    right: -225px; /* Adjust as needed */
    background-image: url('./public/face6.png'); /* Replace with the path to your image */
  }

  .statistics-section {
    margin-top: 60px;
    display: flex;
    align-items: flex-start; /* Aligns items to the top */
    justify-content: space-between;
    max-width: 100%; /* Allows the section to take full width of the viewport */
    padding: 20px;
    padding-left: 0; /* Removes padding on the left */
  }
  
  .image-container {
    flex: 0 0 60%; /* Assigns 60% width to the image container */
    padding-right: 20px; /* Adds space between the image and content */
    margin: 0; /* Ensures no margin on the sides */
  }
  
  .image-container img {
    width: 100%;
    height: auto;
    border-radius: 0; /* Adjust or remove as needed */
    display: block; /* Removes any default inline spacing */
  }
  
  .content-container {
    flex: 1; /* Takes the remaining space */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 20px; /* Adds padding between image and content if needed */
  }
  
    .info-card,
  .statistics {
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px; /* Adds space between info card and statistics */
  }

    .info-card:last-child,
  .statistics:last-child {
    margin-bottom: 0;
  }
  
  /* Additional styles for info-card specific styling if needed */
  .info-card {
    margin-bottom: 10px; /* Adds space between the info card and statistics */
  }

  .statistics {
    border-radius: 10px;
    padding: 10px;
  }

  .statistics h3 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .statistics p {
    margin-top: 0;
  }

  .podporuji-nas {
    padding-top: 40px;
    max-width: 80%;
    margin: 0 auto; /* Center the carousel */
    position: relative; /* Needed to position the controls absolutely within the container */
    overflow: hidden; /* This will hide the overflowed content */
  }
  
  .podporuji-nas-title-section {
    display: flex;
    align-items: center;
    white-space: nowrap;
    margin-bottom: 20px; /* Add some space between title and carousel */
  }
  
  .podporuji-nas-title {
    font-size: 18px;
    margin-right: 20px;
    font-weight: bolder;
    color: #2E3E4D;
  }
  
  .podporuji-nas-title-section::after {
    content: '';
    flex-grow: 1;
    height: 1px;
    background: #2E3E4D;
    margin-left: 20px;
  }
  
  .podporuji-nas-carousel {
    display: flex;
    transition: transform 0.3s ease-in-out;
    position: relative; /* Added for control positioning */
    align-items: center; /* added */
  }
  
  .podporuji-nas-carousel-item {
    flex: 1 0 25%;
    box-sizing: border-box;
    text-align: center;
    padding: 15px;
    /* new bellow */
    display: flex;
    justify-content: center;
    align-items: center; /* This centers the logo inside the item both horizontally and vertically */
  }
  
  .podporuji-nas-carousel-image {
    max-width: 100%;
    max-height: 100px;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  
    .podporuji-nas-carousel-control-prev,
    .podporuji-nas-carousel-control-next {
      position: absolute;
      transform: translateY(-50%);
      z-index: 1000;
      background-color: transparent; /* Make the background transparent */
      color: #333; /* Match the arrow color to your design */
      font-size: 24px; /* Adjust size as needed */
      text-decoration: none; /* Remove underline from text if using text as arrows */
      border: none; /* Remove borders */
      outline: none; /* Remove focus outline */
      top: 75%;
    }

  .podporuji-nas-carousel-control-prev {
    left: 0;
  }

  .podporuji-nas-carousel-control-next {
    right: 0;
  }

    .podporuji-nas-carousel-control-prev-icon,
  .podporuji-nas-carousel-control-next-icon {
    /* Remove the background-image if using text as arrows and adjust content */
    content: '>'; /* Use appropriate character for arrows */
    font-size: 30px; /* Adjust as needed */
  }

  .podporuji-nas-carousel-control-prev-icon {
    /* If you're using text, you can rotate the '>' character for the previous arrow */
    transform: rotate(180deg);
  }

}
/* SETTINGS FOR PHONES - TODO: */
/* SETTINGS FOR PHONES - TODO: */
/* SETTINGS FOR PHONES - TODO: */
/* SETTINGS FOR PHONES - TODO: */
/* SETTINGS FOR PHONES - TODO: */
/* SETTINGS FOR PHONES - TODO: */
/* SETTINGS FOR PHONES - TODO: */
/* SETTINGS FOR PHONES - TODO: */
/* SETTINGS FOR PHONES - TODO: */
/* SETTINGS FOR PHONES - TODO: */
/* SETTINGS FOR PHONES - TODO: */
/* SETTINGS FOR PHONES - TODO: */
/* SETTINGS FOR PHONES - TODO: */
/* SETTINGS FOR PHONES - TODO: */
@media only screen and (max-width: 860px) {}